@import "variables";


.main {
  display: flex;
  flex-direction: column;
  height: 50vh;

  &__avatar_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    margin-right: 23px;
    margin-left: 23px;
    background: linear-gradient(270deg, #1A78C2 0%, #1A78C2 101.06%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
  }

  &__avatar_container {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 42px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
  }

  &__btn {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__btn_position {
    margin-right: 24px;
    padding: 0;
  }

  &__line {
    width: 100%;
    border: 1px solid #CAE7FE;
  }

  &__list_item {
    height: 96px;
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-left: 48px;
  }

  &__paper_wrapper {
    height: 192px;
    margin: 24px;
    border-radius: 10px;
  }

  &__list_text {
    span {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__text_container {
    display: flex;
    justify-content: space-around;
  }

  &__text_field_wrapper {
    display: flex;
    align-items: center;
    height: 97px;
    margin-top: 30px;
  }
  &__icon{
    display: inline-flex !important;
    margin-right: 42px;
    color: #00BFA5;
  }
  &__modal_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 500px;
    padding: 0;
  }
}

@media screen and (max-width: $screen-md) {
  .main {
    &__avatar {
      width: 40px;
      height: 40px;
      margin-left: 10px;
    }

    &__name {
      font-size: 14px;
      margin-left: 10px;
      line-height: 19px;
    }

    &__avatar_container {
      height: 71px;
    }

    &__btn {
      display: none !important;
    }

    &__btn_position {
      margin-right: 0;
    }

    &__list_item {
      height: 71px;
      margin-left: 0;
    }

    &__paper_wrapper {
      height: 160px;
      margin-top: 24px;
      margin-left: 24px;
      margin-right: 24px;
      border-radius: 10px;
    }

    &__list_text {
      span {
        font-size: 14px;
      }
    }

    &__text_container {
      display: flex;
      flex-direction: column;
    }

    &__text_field_wrapper{
      height: 86px;
      display: flex;
      margin-top: 0;
      align-items: center;
      justify-content: center;
    }
    &__icon{
        display: none !important;
    }
    &__paper_edit_form_wrapper{
      height: 345px !important;
    }
    &__modal_container{
      min-width: 200px;
    }
    &__modal_window{
      display: flex;
      max-height: calc(100% - 64px);
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 42%;
    }
  }
}



